*, input {
    box-sizing: border-box;
}
body {
    background-color: #171d23;
    color: aliceblue;
    font-family: sans-serif;
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 1rem;
    text-align: center;
}
.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 0;
    font-family: 'VT323', monospace;
    transition: all 0.3s;
}
p {
    margin: 0;
}
#game p {
    margin: 0.5rem 0;
}
strong {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
}
a {
    color: white;
}
button {
    background: none;
    border: none;
    border-radius: 5px;
    background-color: springgreen;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}
button:disabled {
    background-color: #333;
    color: #999;
    font-style: italic;
    cursor: not-allowed;
}
button:not(:disabled):hover,
button:not(:disabled):focus,
button:not(:disabled):active {
    background-color: aquamarine;
}
#solve {
    margin-top: 0.5rem;
}
#player-count-zero {
    padding: 0.5rem 1rem;
    background-color: darkorchid;
    text-align: left;
}
pre {
    margin: 0;
}
code {
    background-color: black;
    border-width: 2px;
    border-style: solid;
    font-family: monospace;
    font-size: 1rem;
    padding: .5rem 1rem;
    display: block;
    text-align: left;
    /* white-space: normal; */
}
#games-started code,
#games-joined code,
code#player-one-prompt,
code#player-two-prompt {
    white-space: normal;
}
code#player-one-prompt:before {
    color: black;
    padding: 0.5rem;
    margin: 1rem;
    margin-left: 0;
}
code#player-one-prompt.css:before {
    content: "CSS";
    background-color: #2BB6E6;
}
code#player-one-prompt.js:before {
    content: "JS";
    background-color: #FFDF2B;
}
code#player-one-prompt.html:before {
    content: "HTML";
    background-color: #FF7A2E;
}
textarea {
    display: block;
    font-family: monospace;
    width: 100%;
    /* height: 20vh; */
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    resize: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside li {
    border-width: 2px;
    border-style: dotted;
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,25%);
    margin-bottom: 0.5rem;
}
#games-started li {
    border-color: limegreen;
    color: lime;
}
#games-joined li {
    border-color: aquamarine;
    color: aquamarine;
}
.is-hidden { 
    display: none; 
}
.html {
    color: #FF7A2E;
    border-color: #FF7A2E;
}
.css {
    color: #2BB6E6;
    border-color: #2BB6E6;
}
.js {
    color: #FFDF2B;
    border-color: #FFDF2B;
}
footer ul {
    flex-wrap: wrap;
}
footer li {
    margin: 0 4px;
    font-family: sans-serif; text-align: center;
    height: 40px; width: 40px; line-height: 40px;
    border-radius: 50%;
    border: 3px solid white; color: white;
}

#lesson {
    background-color: #212121;
    border: 1px solid white;
    padding: 1rem;
    padding-top: 0;
    margin: 2rem 0;
}
#lesson p {
    text-align: left;
}

#games-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    margin-top: 1rem;
}
#games-list li {
    display: flex;
    flex-direction: column;
}
#games-list a {
    text-align: left;
    display: block;
    flex: 1;
    font-family: 'VT323', monospace;
    font-size: 3rem;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border: 3px solid currentColor;
    transition: all 0.3s;
}
#games-list a:hover,
#games-list a:active,
#games-list a:focus {
    border-color: springgreen;
    color: springgreen;
    box-shadow: 
        -1px 1px 0 springgreen,
        -2px 2px 0 springgreen,
        -3px 3px 0 springgreen,
        -4px 4px 0 springgreen,
        -5px 5px 0 springgreen,
        -6px 6px 0 springgreen,
        -7px 7px 0 springgreen,
        -8px 8px 0 springgreen,
        -9px 9px 0 springgreen,
        -10px 10px 0 springgreen;
}

form#subscribe {
    display: flex;
    align-items: center;
}
#player-email {
    flex: 1;
}
#email-subscribe {
    width: auto;
    padding: 0.5rem 1rem;
}


/* Racer */
input {
    font-family: monospace;
    font-size: 1rem;
    width: 100%;
    padding: 0;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }
#player-one-test,
#player-two-test {
    padding-left: 1rem;
}
#hard-mode {
    width: auto;
}
label {
    margin-top: 1rem;
    display: block;
}
#highlight {
    color: transparent;
    font-family: monospace;
    background-color: forestgreen;
    position: absolute;
    z-index: -1;
    padding: 0.5rem 0;
    padding-left: 1rem;
}
#match {
    background-color: transparent;
}
#highlight, #match {
    margin-left: 2px;
}
#player-one-test, #player-two-test, #match, #highlight {
    font-size: 1.5em;
    margin-bottom: 0;
}
#player-two-test {
    margin-bottom: 0.5rem;
}
input[type="checkbox"] {
    width: initial;
}
input:disabled {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid currentColor;
    /* color: aquamarine; */
}
#misses {
    background-color: rgba(255,0,0,0.5);
    padding: 0.5rem 0;
    margin: 0;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
progress {
    width: 100%;
}

/* Box Model */
/* .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#box-model {
    margin: 0 1rem;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
label {
    display: block;
}
#box-model > p + p {
    margin-top: 1rem;
}
#box-model span {
    padding: 0.5rem;
}
#control {
    border: 0 solid #E7C683;
    background-color: #BAC580;
  }
  #control p {
      color: #171d23;
      background-color: #8AB3BE;
  }
  #container {
    background-color: #B58654;
    overflow: auto;
  }
  #container p {
    text-align: left;
  }  
  form input {
    width: 3em;
    text-align: right;
  }
  input.correct {
    background-color: green;
    color: white;
  } */

/* Debugging */
.fixed {
    background-color: springgreen;
}
.wrong {
    background-color: darkred !important;
    color: white;
}

/* Sorting */
#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0;
    text-align: left;
}
#sortable li { 
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 1em;
  color: white;
  background-color: #212121;
  cursor: grab;
  font-family: 'Fira Code', monospace;
}
#sortable li.wrong {
    background-color: darkred;
}
#sortable li.correct {
    background-color: teal;
}

/* Query */
#side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
#query-answer {
    background-color: transparent;
    border: none;
    flex: 1;
    font-size: 1em;
    font-family: 'Fira Code', monospace;
}
#user-entry {
    padding: 0 0.5em;
    background: white;
    color: black;
    display: flex;
    align-items: baseline;
}
#result {
    height: 100%;
}
#solution {
    color: springgreen;
    padding-left: 0.5em;
}

/* Steps */
#level {
    white-space: pre-line;
}
dl {
    font-family: monospace;
    font-size: 1.5em;
}
dl:after {
    content: "}";
}
dt:after {
    content: " {";
}
dd {
    margin-left: 1rem;
}
#boxjr {
    background: #ffdf00;
    color: #171d23;
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxsr {
    position: relative;
    border: 1px solid white;
    height: 200px;
}
#boxsr span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}
fieldset {
    border: none;
    background-color: #212121;
    margin: 0;
}
#declaration {
    display: flex;
    align-items: baseline;
}
#declaration > * {
    margin: 0 0.5rem;
}
input#prop,
input#val {
    /* background: #212121;
    border: none;
    color: #00fff5; */
    font-size: 1.3rem;
    width: auto;
    flex: 1;
}
/* input#val {
    color: white;
} */

@media only screen and (min-width: 1024px) {
    html, body {
        height: 100%;
    }
    body {
        margin: 0 auto;
        max-width: 1234px;
        padding: 1rem 2rem;
        display: grid;
        align-items: start;
        grid-gap: 1rem;
        /* grid-template-areas: 
            "game  lists"
            "email players"
            "title title"; */
        grid-template-areas: 
            "players players"
            "intro   game"
            "title   title";
        grid-template-columns: 1fr 1.618033988749895fr;
        grid-template-rows: min-content 1fr min-content;
    }
    #players {
        grid-area: players;
    }
    header {
        grid-area: title;
    }
    h1 {
        font-size: 10vw;
        line-height: 1;
        align-self: end;
    }
    h1:hover {
        color: #171d23;
        text-shadow: 
            -1px 1px 0 springgreen,
            -2px 2px 0 springgreen,
            -3px 3px 0 springgreen,
            -4px 4px 0 springgreen,
            -5px 5px 0 springgreen,
            -6px 6px 0 springgreen,
            -7px 7px 0 springgreen,
            -8px 8px 0 springgreen,
            -9px 9px 0 springgreen,
            -10px 10px 0 springgreen,
            -11px 11px 0 springgreen,
            -12px 12px 0 springgreen,
            -13px 13px 0 springgreen,
            -14px 14px 0 springgreen,
            -15px 15px 0 springgreen,
            -16px 16px 0 springgreen,
            -17px 17px 0 springgreen,
            -18px 18px 0 springgreen,
            -19px 19px 0 springgreen,
            -20px 20px 0 springgreen;
}
    #game {
        grid-area: game;
        /* align-self: center;
        justify-self: center; */
    }
    aside {
        grid-area: intro;
    }
    #game, aside {
        text-align: left;
    }
    #user_list {
        margin-left: 0.5rem;
    }
}