body {
    background-color: #171d23;
    color: aliceblue;
    font-family: sans-serif;
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 1rem;
    text-align: center;
}
.flexed {
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    margin: 0;
    font-family: 'VT323', monospace;
    transition: text-shadow 0.3s;
}
p {
    margin: 0;
}
strong {
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
}
a {
    color: white;
}
button {
    background: none;
    border: none;
    border-radius: 5px;
    background-color: springgreen;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.5rem 0;
}
button:disabled {
    background-color: #333;
    color: #999;
    font-style: italic;
    cursor: not-allowed;
}
button:not(:disabled):hover,
button:not(:disabled):focus,
button:not(:disabled):active {
    background-color: aquamarine;
}
#player-count-zero {
    padding: 0.5rem 1rem;
    background-color: darkorchid;
    text-align: left;
}
code {
    background-color: black;
    border-width: 2px;
    border-style: solid;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    padding-left: 0;
    display: block;
    text-align: left;
    white-space: normal;
}
code#player-one-prompt:before {
    color: black;
    padding: 0.5rem;
    margin: 1rem;
    margin-left: 0;
}
code#player-one-prompt.css:before {
    content: "CSS";
    background-color: #2BB6E6;
}
code#player-one-prompt.js:before {
    content: "JS";
    background-color: #FFDF2B;
}
code#player-one-prompt.html:before {
    content: "HTML";
    background-color: #FF7A2E;
}
textarea {
    display: block;
    width: 100%;
    height: 20vh;
    padding: 0;
    font-size: 1.2rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside li {
    border-width: 2px;
    border-style: dotted;
    padding: 0.5rem 1rem;
    background-color: rgba(0,0,0,25%);
    margin-bottom: 0.5rem;
}
#games-started li {
    border-color: limegreen;
    color: lime;
}
#games-joined li {
    border-color: aquamarine;
    color: aquamarine;
}
.is-hidden { 
    display: none; 
}
.html {
    color: #FF7A2E;
    border-color: #FF7A2E;
}
.css {
    color: #2BB6E6;
    border-color: #2BB6E6;
}
.js {
    color: #FFDF2B;
    border-color: #FFDF2B;
}
footer ul {
    flex-wrap: wrap;
}
footer li {
    margin: 0 4px;
    font-family: sans-serif; text-align: center;
    height: 40px; width: 40px; line-height: 40px;
    border-radius: 50%;
    border: 3px solid white; color: white;
}

/* Racer */
input {
    font-family: monospace;
    width: 100%;
    padding: 0;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
  }
#highlight {
    color: transparent;
    font-family: monospace;
    background-color: forestgreen;
    position: absolute;
    z-index: -1;
    padding: 0.5rem 0;
}
#match {
    background-color: transparent;
}
#highlight, #match {
    margin-left: 2px;
}
input, #match, #highlight {
    font-size: 1.5em;
    margin-bottom: 0;
    box-sizing: border-box;
}
input:disabled {
    background-color: rgba(0,0,0,0.5);
    border: 1px solid currentColor;
    color: aquamarine;
}
#misses {
    background-color: rgba(255,0,0,0.5);
    padding: 0.5rem 0;
    margin: 0;
}

/* Box Model */
#player-1 > section {
    display: flex;
    align-items: center;
}
#control {
    color: rgba(255,255,255,0.7);
    box-sizing: border-box;
    border: 0 solid #666;
    background-color: #333;
  }
  #variable {
    color: rgba(0,0,0,0.7);
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    border: 0 solid rgba(0, 255, 166, 0.5);
  }
  #container {
    overflow: auto;
    position: relative;
    border: 1px solid white;
  }
  #container p {
    text-align: left;
  }  
  form input {
    width: 3em;
  }
  input.correct {
    background-color: #171d23;
    color: white;
  }
  legend {
      background-color: #171d23;
      padding: 0 0.5rem;
  }
  fieldset#margin {
      background-color: #B58654;
  }
  fieldset#border {
      background-color: #E7C683;
  }
  fieldset#padding {
      background-color: #BAC580;
  }
  label, span {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .model {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: 
      ". t ."
      "l . r"
      ". b .";
  }
  
  .model > p:nth-of-type(1) {
    grid-area: t
  }
  .model > p:nth-of-type(2) {
    grid-area: l
  }
  .model > p:nth-of-type(3) {
    grid-area: r
  }
  .model > p:nth-of-type(4) {
    grid-area: b
  }

  .model input {
    padding: 0;
    margin: 0;
    font-size: 1em;
  }

@media only screen and (min-width: 1024px) {
    html, body {
        height: 100%;
    }
    body {
        margin: 0;
        padding: 0;
        display: grid;
        align-items: baseline;
        grid-gap: 10px;
        grid-template-areas: 
            "players  players players"
            "created  game    joined"
            "title    title   title";
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: min-content 1fr min-content;
    }
    #players {
        grid-area: players;
    }
    header {
        grid-area: title;
    }
    h1 {
        font-size: 15vw;
        line-height: 1;
        align-self: end;
    }
    h1:hover {
        text-shadow: 
            -1px 1px 0 #eee,
            -2px 2px 0 #ccc,
            -3px 3px 0 #aaa,
            -5px 5px 0 #999,
            -8px 8px 0 #777,
            -13px 13px 0 #555,
            -21px 21px 0 #333,
            -34px 34px 0 #171d23;
    }
    #game {
        grid-area: game;
    }
    aside {
        padding: 0 1rem;
    }
    aside:first-of-type {
        grid-area: created;
    }
    aside:last-of-type {
        grid-area: joined;
    }
    #user_list {
        margin-left: 0.5rem;
    }
    #games-list {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
    }
    #games-list a {
        text-decoration: none;
    }
    #games-list a:hover,
    #games-list a:active,
    #games-list a:focus {
        font-style: italic;
        text-decoration: underline;
        color: springgreen;
    }
}