body {
    background-color: #171d23;
    color: aliceblue;
    font-family: sans-serif;
    font-family: 'Fira Code', monospace;
    margin: 0;
    padding: 1rem;
    text-align: center;
}
#game p {
    text-align: left;
}
p {
    margin: 0;
}
button {
    background: none;
    border: none;
    border-radius: 5px;
    background-color: springgreen;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0.5rem 0;
}
button:disabled {
    background-color: #333;
    color: #999;
    font-style: italic;
    cursor: not-allowed;
}
button:not(:disabled):hover,
button:not(:disabled):focus,
button:not(:disabled):active {
    background-color: aquamarine;
}
code {
    background-color: black;
    border-width: 2px;
    border-style: solid;
    font-size: 1.2rem;
    padding: .5rem 1rem;
    display: block;
    text-align: left;
    white-space: normal;
}
textarea {
    display: block;
    width: 100%;
    height: 20vh;
    padding: 0;
    font-size: 1.2rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#games-started li {
    border: 2px dotted limegreen;
    color: lime;
    padding: 1rem;
    background-color: rgba(0,0,0,25%);
}
#games-joined li {
    border: 2px dotted aquamarine;
    color: aquamarine;
    padding: 1rem;
    background-color: rgba(0,0,0,25%);
}
.is-hidden { 
    display: none; 
}
.html {
    color: #FF7A2E;
    border-color: #FF7A2E;
}
.css {
    color: #2BB6E6;
    border-color: #2BB6E6;
}
.js {
    color: #FFDF2B;
    border-color: #FFDF2B;
}
#user_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#user_list li {
    margin: 0 4px;
    font-family: sans-serif; text-align: center;
    height: 40px; width: 40px; line-height: 40px;
    border-radius: 50%;
    border: 3px solid white; color: white;
}

@media only screen and (min-width: 1024px) {
    html, body {
        height: 100%;
    }
    body {
        margin: 0;
        padding: 0;
        display: grid;
        align-items: baseline;
        grid-gap: 20px;
        grid-template-areas: 
        "players  players players"
        "created  game    joined"
        "title    title   title";
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: min-content 1fr min-content;
    }
    #players {
        grid-area: players;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header {
        grid-area: title;
    }
    h1 {
        margin: 0;
        font-family: 'VT323', monospace;
        font-size: 15vw;
        align-self: end;
        transition: text-shadow 0.3s;
    }
    h1:hover {
        text-shadow: 
            -1px 1px 0 #eee,
            -2px 2px 0 #ccc,
            -3px 3px 0 #aaa,
            -5px 5px 0 #999,
            -8px 8px 0 #777,
            -13px 13px 0 #555,
            -21px 21px 0 #333,
            -34px 34px 0 #171d23;
    }
    #game {
        grid-area: game;
    }
    aside {
        padding: 0 1rem;
    }
    aside:first-of-type {
        grid-area: created;
    }
    aside:last-of-type {
        grid-area: joined;
    }
}